<?xml version="1.0"?>
<config>
    <modules>
       <Targetpay_Creditcard>
          <version>0.1.1</version>
       </Targetpay_Creditcard>
    </modules>

    <global>
        <models>
            <creditcard>
                <class>Targetpay_Creditcard_Model</class>
            </creditcard>
        </models>

        <resources>
            <creditcard_setup>
                <setup>
                    <module>Targetpay_Creditcard</module>
			        <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                    </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </creditcard_setup>
            <creditcard_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </creditcard_write>
            <creditcard_read>
               <connection>
                <use>core_read</use>
              </connection>
            </creditcard_read>
        </resources>
    </global>

	<frontend>
		<routers>
			<creditcard>
				<use>standard</use>
				<args>
					<module>Targetpay_Creditcard</module>
					<frontName>creditcard</frontName>
				</args>
			</creditcard>
		</routers>
	</frontend>

    <default>
        <payment>
            <creditcard>
                <sort_order>2</sort_order>
				<active>1</active>
                <rtlo>94103</rtlo> <!-- // Default TargetPay -->
				<model>creditcard/creditcard</model>
                <order_status>1</order_status>
                <complete_status>4</complete_status>
				<autocreate_invoice>1</autocreate_invoice>
				<title>Creditcard</title>
            </creditcard>
         </payment>
    </default>
</config>
