<?xml version="1.0"?>
<config>
    <modules>
       <Targetpay_Paybyinvoice>
          <version>0.1.1</version>
       </Targetpay_Paybyinvoice>
    </modules>

    <global>
        <models>
            <paybyinvoice>
                <class>Targetpay_Paybyinvoice_Model</class>
            </paybyinvoice>
        </models>

        <resources>
            <paybyinvoice_setup>
                <setup>
                    <module>Targetpay_Paybyinvoice</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                    </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </paybyinvoice_setup>
            <paybyinvoice_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </paybyinvoice_write>
            <paybyinvoice_read>
               <connection>
                <use>core_read</use>
              </connection>
            </paybyinvoice_read>
        </resources>
    </global>

    <frontend>
        <routers>
            <paybyinvoice>
                <use>standard</use>
                <args>
                    <module>Targetpay_Paybyinvoice</module>
                    <frontName>paybyinvoice</frontName>
                </args>
            </paybyinvoice>
        </routers>
    </frontend>

    <default>
        <payment>
            <paybyinvoice>
                <sort_order>4</sort_order>
                <active>1</active>
                <rtlo>93929</rtlo> <!-- // Default TargetPay -->
                <model>paybyinvoice/paybyinvoice</model>
                <order_status>1</order_status>
                <complete_status>4</complete_status>
                <autocreate_invoice>1</autocreate_invoice>
                <title>Achteraf betalen</title>
            </paybyinvoice>
         </payment>
    </default>
</config>